# config for scraps snakemake pipeline #

DATA: 
# Data folder containing FASTQs
  "sample_data/raw_data"

RESULTS:
# results directory
  "results"

STAR:
# path to STAR executable, if not in PATH
  "macos_bin/STAR"

STAR_INDEX:
# path to STAR genome index
  "ref/cr2020A_star/"

POLYA_SITES:
# polya_db 3 on GRCh38 with 5 bases upstream and 3 bases
# downstream slop relative to annotated cleavage site
  "ref/polyadb32.hg38.saf.gz"
   
#POLYA_FORMAT:
# SAF or GTF, currently auto detecting filename .saf or .saf.gz, case-insensitive
#   "SAF"
  
DEFAULTS:
# default config options, overridden by SAMPLES and CHEMISTRY definitions
  platform: illumina
  chemistry: chromiumV3
  alignments:
    - R2
    - paired
  STAR_paired: --alignEndsProtrude 58 ConcordantPair

SAMPLES:
# per-sample labels, FASTQ basenames, and config options
# required:
#   basename
# optional:
#   chemisty
#   alignments
#   cutadapt_args
#   star_args (STAR_R1, STAR_R2, STAR_paired)
#   extra star_args (STAR_R1_extra_args, STAR_R2_extra_args, STAR_paired_extra_args)
  chromiumv2_test:
    basename: sample-
    platform: illumina
    chemistry: chromiumV2
  dropseq_test:
    basename: dropseq
    platform: illumina
    chemistry: dropseq
    alignments:
      - R2
  microwell_test3:
    basename: microwellseq
    platform: illumina
    chemistry: microwellseq
  chromiumv3_ultima_test:
    basename: ultima
    platform: ultima
    chemistry: chromiumV3
    alignments:
      - R1

# for multiqc report
report_section_order:
  cutadapt:
    order: 1000
  star:
    order: 100
  featureCounts:
    order: -1000
