on:
  push:
  pull_request:

name: snakemake-run

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Project
      uses: actions/checkout@v3
  
    - uses: conda-incubator/setup-miniconda@v2
      with:
        mamba-version: "*"
        channels: bioconda,conda-forge,defaults
        channel-priority: true
        auto-activate-base: false
        use-mamba: true

    - name: Create conda environment
      shell: bash -el {0}
      run: |
        mamba env create -f scraps_conda.yml

    - name: Run Snakemake
      shell: bash -el {0}
      run: |
        conda activate scraps_conda
        conda info
        snakemake -npr --configfile config.yaml
