on:
  push:
  pull_request:
    branches:
      - master

name: snakemake-run

jobs:
  snakemake-run:
    name: run snakemake
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        include:
        - os: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: r-lib/actions/setup-r@master
        if: runner.os == 'macOS'
        with:
          r-version: ${{ matrix.rversion }}
          
      - name: setup conda
        uses: s-weigand/setup-conda@v1.0.5
        with:
          activate-conda: true
          update-conda: true
          conda-channels: 'bioconda,conda-forge,defaults'
      
      - name: install snakemake and run workflow
        run: |
          conda env create -f scraps_conda.yml
          conda activate scraps_conda
          snakemake -np
